section.breadcrumb-section {
    background-color: #F8F9FC;
    padding: 100px 0 40px;
    position: relative;
    overflow: hidden;
}

section.breadcrumb-section ol.breadcrumb {
    margin-bottom: 0;
}

section.breadcrumb-section .ellipse {

    height: 100%;
    width: 50%;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
}

@media screen and (min-width: 768px) {
    section.breadcrumb-section {
        padding: 191px 0 80px;
        ;
    }

    section.breadcrumb-section .ellipse {
        height: 370px;
        width: 521px;
    }
}


section.breadcrumb-section .ellipse:before {
    content: '';
    background: radial-gradient(50% 50% at 50% 50%, rgb(221.25, 245, 215) 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: 414.5px;
    height: 829px;
    left: 0;
    position: absolute;
    top: -457px;
    width: 829px;
}