section.breadcrumb-section {
    background-color: #F8F9FC;
    padding: 250px 0 80px;
    position: relative;
}

section.breadcrumb-section .ellipse {
    height: 370px;
    overflow: hidden;
    width: 521px;
    position: absolute;
    top: 0;
    right: 0;
}

section.breadcrumb-section .ellipse:before {
    content: '';
    background: radial-gradient(50% 50% at 50% 50%, rgb(221.25, 245, 215) 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: 414.5px;
    height: 829px;
    left: 0;
    position: absolute;
    top: -457px;
    width: 829px;
}