.subscribe-form .form-body {
    border: 1px solid black;
    padding: 6px;
    border-radius: 10px;
}

.subscribe-form .input-group-manual {
    position: relative;
}

.subscribe-form .input-group-manual button {
    background: #F55F1D;
    border-radius: 10px !important;
    position: absolute;
    top: 0;
    right: 0;
}

.subscribe-form .info {
    color: #8B8B8B;
}