body {
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-size: 18px;

}

nav.main {
    padding: 20px 0;
}

nav.main:before {
    content: '';
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: -1;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.scrolled nav.main:before {
    opacity: 1;
    top: 0;
    box-shadow: var(--bs-box-shadow-sm) !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading {
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

section .title {
    font-size: 20px;
    color: #20B15A;
}

section .description {
    font-size: 30px;
    color: #000;
}

span.time {
    font-weight: 100;
    font-size: 14px;
    color: #2E3E5C;
}