.team .member .inner-wrapper {
    border-radius: 20px;
    overflow: hidden;
}

.team-member-picture {
    position: relative;
    overflow: hidden;
}

.team-member-picture .social-profile-links {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 20px;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.team-member-picture img {
    width: 100%;
}

.team .member .team-member-picture .social-profile-links a {
    width: 40px;
}